spring.datasource.url=jdbc:postgresql://postgres:5432/linkmart
spring.datasource.username={username}
spring.datasource.password={password}

spring.jpa.hibernate.ddl-auto=none
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

spring.flyway.baselineOnMigrate=true
spring.flyway.cleanDisabled=true

server.error.include-message=always
server.error.include-stacktra